ion-header {
  border-bottom: 3px solid #382574;
  margin-top: -8px;
}
ion-card-header {
  margin: initial;
}

h1 {
  color:#382574;
  margin-top: 10px;
}

.ion-text-center {
  font-weight:bold;
  padding-left: 60px;
  font-size: large;
  color: black;
}

