<ion-header>
  <ion-toolbar>
    <ion-card-header>
      <ion-card-content>
        <img src="assets/imagefront.png">
      </ion-card-content>
    </ion-card-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="ion-text-center"> <h1> Sign Up Or Log In Here</h1> </ion-text>
  <ion-text class="ion-text-center"> <h6>Using DRIVER for free</h6></ion-text>
  <ion-list>
    <ion-card>
      <ion-card-content>
        <ion-text class="ion-text-center"><ion-icon name="logo-facebook"></ion-icon> Sign in with Facebook</ion-text>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-text class="ion-text-center"><ion-icon name="logo-google"></ion-icon> Sign in with Google</ion-text>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-text class="ion-text-center" routerLink="/login"><ion-icon name="phone-portrait-outline"></ion-icon> Sign in with Phone</ion-text>
      </ion-card-content>
    </ion-card>
</ion-list>
</ion-content>
