<ion-header>
  <ion-toolbar>
    <ion-icon  name="arrow-back" routerLink='/authentification'></ion-icon>
  <ion-title class="ionic-text-center"> <ion-icon name="log-in-outline"></ion-icon> Login</ion-title>
  </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
    <ion-item>
      <ion-label position="stacked">Phone<ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="string" value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password<ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
     </ion-list>
       <ion-button  type="submit" expand="block" shape="round" routerLink="/home">Login</ion-button>

       <div class="ion-text-start"> <ion-icon name="checkbox-outline"></ion-icon> Remember me</div>
       <div class="ion-text-end" style="text-decoration: underline;" > Forgot password? </div>

  </ion-content>
