
<ion-content>
<br>
<ion-title style="text-align: center; color: cornsilk;" >Welcome</ion-title>
<br>
<br>
  <ion-item >
    <ion-label color="light"></ion-label>
    <ion-input color="light" type="mail" placeholder="Email"></ion-input>
  </ion-item>
  
  <br>
  <ion-item>
    <ion-label color="light"></ion-label>
    <ion-input color="light" type="password" placeholder="Password"></ion-input>
  </ion-item>

 
  <ion-button (click)="signin()" color="light" expand="block" shape="round" fill="outline">Sign In</ion-button>
<br>
<ion-button color="light" expand="block" shape="round" fill="outline">Register</ion-button>
<br>
<ion-item lines="none">
  <ion-button  color="light" slot="end"  fill="clear">Need help signing in ?</ion-button>
</ion-item>

</ion-content>
