<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title text-center>
            <h1 class="centered-title">
                <ion-icon name="card"></ion-icon> Payment Method</h1>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen no-border>
    <form>

        <ion-card class="mobile-money">



            <ion-grid>
                <ion-row>

                    <ion-col size="12">
                        <h2><img src="assets/icon/espece.png" alt="icon-espece"> Cash</h2>
                    </ion-col>





                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <input type="radio" name="awesome-radiobox" id="cash" checked />
                        <label for="cash"> Defaul payment</label>
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-card>


        <ion-card *ngFor="let item of MobileMoneysData">
            <ion-fab-button id="close" (click)="deleteMobileMoney(item)">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
            <ion-grid>
                <ion-row>

                    <ion-col size="12">
                        <h2><img src="assets/icon/icon-mobile-money.png" alt="icon-mobile-money"> {{ item.tel }}</h2>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <input type="radio" name="awesome-radiobox" id="mobileMoney{{ item.id }}" checked />
                        <label for="mobileMoney{{ item.id }}"> Defaul payment</label>
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-card>
        <ion-card *ngFor="let item of CreditCardsData">
            <ion-fab-button id="close" (click)="deleteCreditCard(item)">
                <ion-icon name="close-circle-outline"></ion-icon>
            </ion-fab-button>
            <ion-grid>
                <ion-row>

                    <ion-col size="12">
                        <h2><img src="assets/icon/icon-mastercard.png" alt="icon-mobile-money"> {{ item.cardNumber }}</h2>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <input type="radio" name="awesome-radiobox" id="creditcard{{ item.id }}" />
                        <label for="creditcard{{ item.id }}"> Defaul payment</label>
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-card>
        <ion-card *ngFor="let item of PaypalsData">
            <ion-fab-button id="close" (click)="delete(item)">
                <ion-icon name="close-outline"></ion-icon>
            </ion-fab-button>
            <ion-grid>
                <ion-row>

                    <ion-col size="12">
                        <h2><img src="assets/icon/icon-paypal.png" alt="icon-mobile-money"> {{ item.email }}</h2>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <input type="radio" name="awesome-radiobox" id="paypal{{ item.id }}" />
                        <label for="paypal{{ item.id }}"> Defaul payment</label>
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-card>

    </form>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/add-payment-method">
            <ion-icon name="add-circle-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
